<%= form_for(:event, url: new_event_path) do |f| %>
  <div>
  	<%= f.label :header %>
  	<%= f.text_field :header %>
  	<%= f.label :content %>
    <%= f.text_area :content, placeholder: "Compose new event..." %>
  </div>
  <%= f.submit "Post"%>
<% end %>

<%= render @events %>
