<style>
  #header {
      background-color:black;
      color:white;
      text-align:center;
      padding:5px;
  }
  a {
    color: #b32d00;
  }
  #nav {
      line-height:30px;
      background-color:#eeeeee;
      height:300px;
      width:100px;
      float:left;
      padding:5px; 
      font-family: helvetica;
  }
  #section {
      width:350px;
      float:left;
      padding:10px; 
      font-family: helvetica;
  }
  </style>
<div id="header">
<h1>PIGEAPP</h1>
</div>
<div id="nav">
    <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "News", show_events_path %></li>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          <li><%= link_to "Contests", show_contests_path %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign up", new_user_path %></li>
        <% end %>
      </ul>
</div>
